<nz-content
  style="
    padding: 20px;
    max-width: 1290px;
    margin: 0 auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif;
  "
>
  <div>
    <div
      nz-row
      [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
      nzJustify="center"
    >
      <div nz-col class="gutter-row" [nzSpan]="nzSpan">
        <nz-card
          nzHoverable
          style="width: 120px"
          [nzCover]="swimming"
          class="sport-card"
        >
          <nz-card-meta
            class="cat-font"
            nzDescription="Swimming"
          ></nz-card-meta>
        </nz-card>
        <ng-template #swimming>
          <img
            class="activity-img"
            alt="swimming"
            src="/assets/images/swimming.jpg"
          />
        </ng-template>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="nzSpan">
        <nz-card
          nzHoverable
          style="width: 120px"
          [nzCover]="cricket"
          class="sport-card"
        >
          <nz-card-meta class="cat-font" nzDescription="Cricket"></nz-card-meta>
        </nz-card>
        <ng-template #cricket>
          <img alt="cricket" src="/assets/images/cricket.png" />
        </ng-template>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="nzSpan">
        <nz-card
          nzHoverable
          style="width: 120px"
          [nzCover]="football"
          class="sport-card"
        >
          <nz-card-meta
            class="cat-font"
            nzDescription="Football"
          ></nz-card-meta>
        </nz-card>
        <ng-template #football>
          <img alt="football" src="/assets/images/football.png" />
        </ng-template>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="nzSpan">
        <nz-card
          nzHoverable
          style="width: 120px"
          [nzCover]="badminton"
          class="sport-card"
        >
          <nz-card-meta
            class="cat-font"
            nzDescription="Badminton"
          ></nz-card-meta>
        </nz-card>
        <ng-template #badminton>
          <img alt="swimming" src="/assets/images/badminton.png" />
        </ng-template>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="nzSpan">
        <nz-card
          nzHoverable
          style="width: 120px"
          [nzCover]="futsal"
          class="sport-card"
        >
          <nz-card-meta class="cat-font" nzDescription="Futsal"></nz-card-meta>
        </nz-card>
        <ng-template #futsal>
          <img alt="futsal" src="/assets/images/futsal.png" />
        </ng-template>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="nzSpan">
        <nz-card
          nzHoverable
          style="width: 120px"
          [nzCover]="volleyball"
          class="sport-card"
        >
          <nz-card-meta
            class="cat-font"
            nzDescription="Volleyball"
          ></nz-card-meta>
        </nz-card>
        <ng-template #volleyball>
          <img alt="volleyball" src="/assets/images/volleyball.png" />
        </ng-template>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="nzSpan">
        <nz-card
          nzHoverable
          style="width: 120px"
          [nzCover]="tableTennis"
          class="sport-card"
        >
          <nz-card-meta
            class="cat-font"
            nzDescription="Table Tennis"
          ></nz-card-meta>
        </nz-card>
        <ng-template #tableTennis>
          <img alt="table-tennis" src="/assets/images/table-tennis.png" />
        </ng-template>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="nzSpan">
        <nz-card
          nzHoverable
          style="width: 120px"
          [nzCover]="basketball"
          class="sport-card"
        >
          <nz-card-meta
            class="cat-font"
            nzDescription="Basketball"
          ></nz-card-meta>
        </nz-card>
        <ng-template #basketball>
          <img alt="basketball" src="/assets/images/basketball.png" />
        </ng-template>
      </div>
    </div>
    <!--////////////////////////////////////////////////////////////// -->
    <nz-divider></nz-divider>

    <div>
      <div
        nz-row
        [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
        nzJustify="center"
      >
        <div nz-col class="gutter-row" *ngFor="let court of courtGrid">
          <a [routerLink]="['/path-to-your-route', court.courtId]">
            <nz-card class="court-card" [nzCover]="coverTemplate">
              <div class="court-text">
                <p class="court-title">{{ court.facilityName }}</p>
                <p class="court-location-text">{{ court.location }}</p>
                <div class="court-details">
                  <p class="court-type">{{ court.courtType }}</p>
                  <p class="court-activity-text">
                    {{ court.activities.join(", ") }}
                  </p>
                  <p class="court-price-text">
                    Per/hr Rs: {{ court.pricePerHr }}/-
                  </p>
                </div>
              </div>
            </nz-card>
            <ng-template #coverTemplate>
              <img
                class="court-img"
                alt="{{ court.facilityName }} - {{ court.courtType }}"
                src="{{ court.courtImage[0] }}"
              />
            </ng-template>
          </a>
        </div>
      </div>
    </div>
  </div>
</nz-content>
