.container {
  display: flex;
  flex-direction: column;
}

nz-card {
  border-radius: 15px;
}

.activity-img {
  border-radius: 15px;
}

.activity-description {
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}

.court-img {
  /* width: 260px; */
  border-radius: 15px;
  height: 210px;
  object-fit: cover;
}

.court-card {
  width: 288px;
  height: 280px;
  background-color: transparent;
  margin-bottom: 38px;
}

.court-text {
  margin-top: -18px;
  margin-left: -22px;
  text-align: start;
}

.court-title {
  font-weight: bold;
}

.court-location-text {
  margin-top: -15px;
  font-size: 12px;
}

.court-activity-text {
  margin-top: -15px;
  font-style: italic;
}

.court-type {
  margin-top: -7px;
}

.court-price-text {
  font-weight: bold;
  margin-top: -57px;
  text-align: right;
}
