<html>
  <body>
    <form method="post" action="https://sandbox.payhere.lk/pay/checkout">
      <input type="hidden" name="merchant_id" value="1225368" />
      <!-- Replace your Merchant ID -->
      <input type="hidden" name="return_url" value="http://localhost:4000" />
      <input type="hidden" name="cancel_url" value="http://sample.com/cancel" />
      <input type="hidden" name="notify_url" value="http://localhost:4000/" />
      <br /><br />Item Details<br />
      <input type="text" name="order_id" value="aeiou1234" />
      <input type="text" name="items" value="Door bell wireless" />
      <input type="text" name="currency" value="LKR" />
      <input type="text" name="amount" value="1000" />
      <br /><br />Customer Details<br />
      <input type="text" name="first_name" value="Saman" />
      <input type="text" name="last_name" value="Perera" />
      <input type="text" name="email" value="samanp@gmail.com" />
      <input type="text" name="phone" value="0771234567" />
      <input type="text" name="address" value="No.1, Galle Road" />
      <input type="text" name="city" value="Colombo" />
      <input type="hidden" name="country" value="Sri Lanka" />
      <input
        type="hidden"
        name="hash"
        value="F033C9BBF297D77424543BF63BA9C082"
      />
      <!-- Replace with generated hash -->
      <input type="submit" value="Buy Now" />
    </form>
  </body>
</html>
