.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

nz-content {
  margin: 0 16px;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

.send-request {
  margin-bottom: 16px;
}

.send-request span {
  margin-left: 8px;
}
