<nz-layout style="background-color: transparent">
  <app-header></app-header>
  <!-- <app-sign-in></app-sign-in> -->
  <!-- <app-pay-here-checkout></app-pay-here-checkout> -->
  <!-- <app-payment-success></app-payment-success> -->
  <!-- <app-payment-failed></app-payment-failed> -->
  <!-- <app-admin-dashboard></app-admin-dashboard> -->
  <!-- <app-sign-up></app-sign-up> -->
  <!-- <app-reservation-page></app-reservation-page> -->
  <app-cout-page></app-cout-page>
  <!-- <app-sport-filter></app-sport-filter> -->

  <!-- <app-side-nav></app-side-nav> -->
  <!--  <router-outlet></router-outlet>  -->
</nz-layout>
