<nz-layout>
  <nz-sider nzCollapsible class="slider">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item>
        <span nz-icon nzType="pie-chart"></span>
        <span>Option 1</span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="desktop"></span>
        <span>Option 2</span>
      </li>
      <li nz-submenu nzTitle="User" nzIcon="user">
        <ul>
          <li nz-menu-item>Tom</li>
          <li nz-menu-item>Bill</li>
          <li nz-menu-item>Alex</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Team" nzIcon="team">
        <ul>
          <li nz-menu-item>Team 1</li>
          <li nz-menu-item>Team 2</li>
        </ul>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="file"></span>
        <span>File</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="layout">
    <nz-header
      ><div class="main-text">
        <h4 nz-typography>Admin Dashboard</h4>
      </div></nz-header
    >
    <nz-content class="tab-content">
      <div class="card-container">
        <nz-tabset nzType="card" [nzSize]="size">
          <nz-tab [nzTitle]="'Facilities '">
            <nz-table
              #nestedTable
              [nzData]="listOfParentData"
              [nzPageSize]="10"
            >
              <thead>
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>Address</th>
                  <th>City</th>
                  <th>Contact No.</th>
                  <th>Facility Email</th>
                  <th>Profile Url</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <ng-template ngFor let-data [ngForOf]="nestedTable.data">
                  <tr>
                    <td [(nzExpand)]="data.expand"></td>
                    <td>{{ data.name }}</td>
                    <td>{{ data.address }}</td>
                    <td>{{ data.city }}</td>
                    <td>{{ data.contactNo }}</td>
                    <td>{{ data.facilityEmail }}</td>
                    <td>{{ data.profileUrl }}</td>
                    <td>
                      <ng-container
                        *ngIf="data.status == 'active'; else inactiveStatus"
                      >
                        <nz-badge
                          [nzStatus]="'success'"
                          [nzText]="'Active'"
                        ></nz-badge>
                      </ng-container>
                      <ng-template #inactiveStatus>
                        {{ data.status }}
                      </ng-template>
                    </td>
                    <td>
                      <a>Edit</a>
                    </td>
                  </tr>
                  <tr [nzExpand]="!!data?.expand">
                    <nz-table
                      #innerTable
                      [nzData]="listOfChildrenData"
                      nzSize="middle"
                      [nzShowPagination]="false"
                    >
                      <thead>
                        <tr>
                          <th>Type</th>
                          <th>Activities</th>
                          <th>Price/Hour</th>
                          <th>Commission %</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let data of innerTable.data">
                          <td>{{ data.courtType }}</td>
                          <td>{{ data.activities }}</td>
                          <td>{{ data.pricePerHour }}</td>
                          <td>{{ data.commissionPercentage }}</td>
                          <td>
                            <ng-container
                              *ngIf="
                                data.status == 'active';
                                else inactiveStatus
                              "
                            >
                              <nz-badge
                                [nzStatus]="'success'"
                                [nzText]="'Active'"
                              ></nz-badge>
                            </ng-container>
                            <ng-template #inactiveStatus>
                              {{ data.status }}
                            </ng-template>
                          </td>
                        </tr>
                      </tbody>
                    </nz-table>
                  </tr>
                </ng-template>
              </tbody>
            </nz-table>
          </nz-tab>
          <!-- ***************Create Facility*************************** -->
          <nz-tab [nzTitle]="'Create Facility'">
            <div class="container">
              <form
                nz-form
                [formGroup]="facilityForm"
                (ngSubmit)="submitForm()"
              >
                <nz-form-item>
                  <nz-form-label
                    [nzSm]="6"
                    [nzXs]="24"
                    nzRequired
                    nzFor="userEmail"
                    >User Email
                  </nz-form-label>
                  <nz-form-control
                    [nzSm]="14"
                    [nzXs]="24"
                    nzErrorTip="Please input user email!"
                  >
                    <input
                      formControlName="userEmail"
                      id="userEmail"
                      placeholder="Search for user email"
                      nz-input
                      [(ngModel)]="inputValue"
                      (ngModelChange)="onChange($event)"
                      [nzAutocomplete]="auto"
                    />
                    <nz-autocomplete
                      [nzDataSource]="filteredOptions"
                      #auto
                    ></nz-autocomplete>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name"
                    >Facility Name</nz-form-label
                  >
                  <nz-form-control
                    [nzSm]="14"
                    [nzXs]="24"
                    nzErrorTip="Please input facility name!"
                  >
                    <input nz-input formControlName="name" id="name" />
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label
                    [nzSm]="6"
                    [nzXs]="24"
                    nzRequired
                    nzFor="address"
                    >Address</nz-form-label
                  >
                  <nz-form-control
                    [nzSm]="14"
                    [nzXs]="24"
                    nzErrorTip="Please input facility address!"
                  >
                    <input nz-input formControlName="address" id="address" />
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="city"
                    >City</nz-form-label
                  >
                  <nz-form-control
                    [nzSm]="14"
                    [nzXs]="24"
                    nzErrorTip="Please input facility's city!"
                  >
                    <input nz-input formControlName="city" id="city" />
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label
                    [nzSm]="6"
                    [nzXs]="24"
                    nzRequired
                    nzFor="facilityEmail"
                    >Facility Email</nz-form-label
                  >
                  <nz-form-control
                    [nzSm]="14"
                    [nzXs]="24"
                    nzErrorTip="The input is not valid E-mail!"
                  >
                    <input
                      nz-input
                      formControlName="facilityEmail"
                      id="facilityEmail"
                    />
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label
                    [nzSm]="6"
                    [nzXs]="24"
                    nzFor="contactNumber"
                    nzRequired
                    >Facility Contact No.</nz-form-label
                  >
                  <nz-form-control
                    [nzSm]="14"
                    [nzXs]="24"
                    [nzValidateStatus]="facilityForm.controls['contactNumber']"
                    nzErrorTip="Please input the contact number!"
                  >
                    <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
                      <ng-template #addOnBeforeTemplate>
                        <nz-select
                          formControlName="phoneNumberPrefix"
                          class="phone-select"
                        >
                          <nz-option nzLabel="+94" nzValue="+94"></nz-option>
                        </nz-select>
                      </ng-template>
                      <input
                        formControlName="contactNumber"
                        id="'contactNumber'"
                        nz-input
                      />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label
                    [nzSm]="6"
                    [nzXs]="24"
                    nzRequired
                    nzFor="profileUrl"
                    >Profile Url</nz-form-label
                  >
                  <nz-form-control
                    [nzSm]="14"
                    [nzXs]="24"
                    nzErrorTip="Please enter the Profile Url!"
                  >
                    <input
                      nz-input
                      formControlName="profileUrl"
                      id="profileUrl"
                    />
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item nz-row class="register-area">
                  <nz-form-control [nzSpan]="14" [nzOffset]="6">
                    <button nz-button nzType="primary">Create facility</button>
                  </nz-form-control>
                </nz-form-item>
              </form>
            </div>
          </nz-tab>
          <!-- ----------------Create Court--------- -->
          <nz-tab [nzTitle]="'Create Court'">
            <div class="container">
              <form
                nz-form
                [formGroup]="courtForm"
                (ngSubmit)="submitCourtForm()"
              >
                <nz-form-item>
                  <nz-form-label [nzSpan]="5" nzFor="facilityId" nzRequired
                    >Facility</nz-form-label
                  >
                  <nz-form-control
                    [nzSpan]="12"
                    nzErrorTip="Please select facility!"
                  >
                    <nz-select
                      id="facilityId"
                      formControlName="facilityId"
                      nzPlaceHolder="Select a facility for court"
                    >
                      <nz-option
                        *ngFor="let option of listOfParentData"
                        [nzLabel]="option.name"
                        [nzValue]="option.id"
                      ></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label [nzSpan]="5" nzFor="courtType" nzRequired
                    >Court Type</nz-form-label
                  >
                  <nz-form-control
                    [nzSpan]="12"
                    nzErrorTip="Please select court type!"
                  >
                    <nz-select
                      id="courtType"
                      formControlName="courtType"
                      nzPlaceHolder="Select type of the court"
                    >
                      <nz-option
                        *ngFor="let option of courtTypesForSelect"
                        [nzLabel]="option.courtType"
                        [nzValue]="option.courtType"
                      ></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label [nzSpan]="5" nzRequired nzFor="pricePerHour"
                    >Price per hour</nz-form-label
                  >
                  <nz-form-control
                    [nzSpan]="12"
                    nzErrorTip="Please input the price for a hour!"
                  >
                    <input
                      id="pricePerHour"
                      type="number"
                      nz-input
                      formControlName="pricePerHour"
                    />
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label
                    [nzSpan]="5"
                    nzRequired
                    nzFor="commissionPercentage"
                    >Commission %</nz-form-label
                  >
                  <nz-form-control
                    [nzSpan]="12"
                    nzErrorTip="Please input the commission percentage!"
                  >
                    <input
                      id="commissionPercentage"
                      type="number"
                      nz-input
                      formControlName="commissionPercentage"
                    />
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label [nzSpan]="5" nzFor="activities" nzRequired
                    >Court Activities</nz-form-label
                  >
                  <nz-form-control
                    [nzSpan]="12"
                    nzErrorTip="Please select court type!"
                  >
                    <nz-select
                      id="activities"
                      formControlName="activities"
                      [(ngModel)]="listOfTagOptions"
                      nzMode="tags"
                      [nzTokenSeparators]="[',']"
                      nzPlaceHolder="court activities"
                    >
                      <nz-option
                        *ngFor="let option of activitiesForSelect"
                        [nzLabel]="option.activityName"
                        [nzValue]="option.activityName"
                      ></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label [nzSpan]="5" nzFor="courtImages" nzRequired
                    >Court Images</nz-form-label
                  >
                  <nz-form-control
                    [nzSpan]="12"
                    nzErrorTip="Please upload images of court"
                  >
                    <nz-upload
                      [(nzFileList)]="fileList"
                      [nzBeforeUpload]="beforeUpload"
                    >
                      <!-- work around to avoid submit when button clicked(if button form getting submitted) -->
                      <div
                        class="select"
                        [ngStyle]="{
                          'line-height': '1.5715',
                          'font-size': '14px',
                          padding: '10px 20px',
                          'background-color': '#1f618d',
                          color: '#fff',
                          'white-space': 'nowrap',
                          cursor: 'pointer'
                        }"
                      >
                        Select File
                      </div>
                    </nz-upload>
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-control [nzSpan]="12" [nzOffset]="5">
                    <button nz-button nzType="primary" [nzLoading]="uploading">
                      {{ uploading ? "Uploading" : "Submit and upload" }}
                    </button>
                  </nz-form-control>
                </nz-form-item>
              </form>
            </div>
          </nz-tab>
        </nz-tabset>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
