<div
  style="
    padding: 20px;
    max-width: 1290px;
    margin: 0 auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif;
  "
>
  <div>
    <p class="price-text">
      Price /hr.: <b>LKR {{ courtDetails.pricePerHr | number : "1.2-2" }}</b>
    </p>
    <h2 nz-typography>{{ courtDetails.facilityName }}</h2>
    <p class="court-text">
      {{ courtDetails.activities.join(", ") }}
    </p>
    <p class="court-type-text">{{ courtDetails.courtType }}</p>

    <div style="display: inline-block; vertical-align: middle; font-size: 18px">
      <i nz-icon>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24"
          viewBox="0 0 24 24"
          width="24"
          fill="#000000"
        >
          <path d="M0 0h24v24H0z" fill="none" />
          <path
            d="M12 2C8.13 2 5 5.13 5 9c0 6.75 7 13 7 13s7-6.25 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"
          />
        </svg>
      </i>
      <p
        style="
          display: inline-block;
          vertical-align: middle;
          margin-left: 5px;
          font-weight: bold;
        "
      >
        {{ courtDetails.facilityLocation }}
      </p>
    </div>
  </div>

  <div>
    <nz-image-group
      style="display: flex; justify-content: center; align-items: center"
    >
      <img
        style="margin: 10px; object-fit: cover"
        class="main-img"
        nz-image
        width="560px"
        height="362px"
        nzSrc="{{ courtDetails.courtImage[0] }}"
        alt=""
      />
      <img
        style="margin: 10px; object-fit: cover"
        class="main-img"
        nz-image
        width="560px"
        height="362px"
        nzSrc="{{ courtDetails.courtImage[1] }}"
        alt=""
      />
    </nz-image-group>
  </div>

  <nz-divider
    style="font-size: 20px"
    nzText="Date: {{ dataToGetSlots.date }}"
  ></nz-divider>
  <div style="text-align: left; font-size: 18px; margin-top: -20px">
    <div>
      Start Time: <b>{{ selectedStartTime | date : "HH:mm" }}</b>
    </div>
    <div>
      End Time: <b>{{ selectedEndTime | date : "HH:mm" }}</b>
    </div>
  </div>
  <div
    class="search-group"
    style="text-align: center; margin-bottom: 20px; margin-top: -25px"
  >
    <nz-date-picker
      class="datePicker"
      nzFormat="yyyy-MM-dd"
      ngModel
      (ngModelChange)="onChange($event)"
    ></nz-date-picker>

    <button
      nz-button
      nzType="primary"
      class="search-button"
      (click)="searchSlots()"
    >
      <i nz-icon nzType="search"></i>
      Search
    </button>
  </div>

  <div style="display: flex">
    <div
      class="slots"
      style="display: flex; flex-wrap: wrap; justify-content: center"
    >
      <div *ngFor="let slot of slots">
        <button
          [ngClass]="{
            'selected-btn': slot.status === 'selected',
            'available-btn': slot.status === 'available',
            'unavailable-btn': slot.status === 'reserved',
            'reserved-btn': slot.status === 'unavailable'
          }"
          (click)="toggleSlots(slot)"
        >
          <a>{{ slot.timeSlot | date : "hh:mm a" }} </a>
        </button>
      </div>
    </div>
  </div>

  <div>
    <ul class="legends">
      <li class="selected"><span class="text">Selected</span></li>
      <li class="available"><span class="text">Available</span></li>
      <li class="reserved"><span class="text">Unavailable</span></li>
      <li class="unavailable"><span class="text">Reserved</span></li>
    </ul>
  </div>

  <nz-divider></nz-divider>
  <div style="text-align: center">
    <p class="time-select-text">{{ selectedHours }} hour(s) selected</p>
    <h1>
      LKR
      {{
        (selectedHours ? selectedHours * courtDetails.pricePerHr : 0)
          | number : "1.2-2"
      }}
    </h1>
    <button
      nz-button
      nzType="primary"
      [nzSize]="size"
      [disabled]="selectedSlot.length === 0"
    >
      Reserve
    </button>
  </div>

  <nz-divider></nz-divider>
</div>
